#googlelogo {
    Display: block;
    width: 272px;
    height: 92px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

#searchbar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    box-shadow: -.25px 1px lightgrey;
}

#searchbuttons {
    text-align: center;
    display: block;
}

button {
    margin-top: 60px;
    height: 30px;
    color: rgb(133, 133, 133);
    background-color: rgb(233, 233, 233);
    border-radius: 2px;
    border: 0px;
    padding: 5px;
}

li {
    Display: inline-block;
}

li a {
    text-decoration: none;
    color: black;
    font-family: arial, sans-serif;
    font-size: 13px;
    list-style: none;
}

li a:hover {
    text-decoration: underline;
}

#tnav li a {
    margin: 0px;
    padding: 10px;

}

#trnav {
    float: right;
    margin: 0;
    padding: 0;
}

#bnav {
    margin: 0;
    padding: 0;
    background-color: lightgray;
    position: absolute;
    bottom: 0;
    height: 35px;
    width: 100%;
}

#bnav li a {
    margin: 15px;
    padding: 0;
}

#bnavparent {
    text-decoration: none;
    color: black;
    font-family: arial, sans-serif;
    font-size: 13px;
}

#brnav {
    float: right;
    margin: 0;
    padding: 0;
}